<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Regression1">
        <groups>
            <run>
                <include name="SmokeTests">
                </include>
            </run>
        </groups>
        <classes>
            <class name="testy.HomePageTests"></class>
            <class name="testy.ProductPageTests"></class>
        </classes>
    </test>
</suite>